@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Mulish";
}
.container {
  background-color: #f28ab2;
  font-family: "Mulish";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.list {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #333638;
}
.listItem {
  color: #333638;
  display: flex;

  padding: 10px 40px;
  margin: 10px;
}
button {
  background: linear-gradient(
    90deg,
    rgba(238, 135, 175, 1) 0%,
    rgba(254, 105, 163, 1) 100%
  );
  border: 0;
  color: white;
  margin: auto auto 30px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 400px;
}
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
